.container-aboutUs {
  margin: 3rem;
  margin-top: 10rem;
}

.aboutus-title {
  text-align: center;
  margin-left: -40px;
  color: #333;
  font-family: "Inter Tight", sans-serif;
  margin-bottom: -55px;
}

.aboutus-description {
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  max-width: 500px;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 1.5;
  justify-content: center;
  font-family: "Inter Tight", sans-serif;
}
