header {
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  position: relative;
  position: sticky;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  max-height: 600px;
}
