@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Gochi+Hand&family=Rajdhani:wght@700&family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Inter:wght@300&display=swap");

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 1000;
  font-family: "Inter Tight", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.041);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-item a:hover {
  color: gray;
}

.nav-span:hover {
  color: gray;
}

.logo img {
  vertical-align: middle;
}

.nav-cart-icon {
  width: 25px;
  margin-top: 2px;
}

.nav-search-icon {
  width: 20px;
  margin-top: 2px;
}

.center-links {
  display: flex;
  align-items: center;
}

.nav-item.dropdown {
  position: relative;
}

.menu-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -120%;
  background-color: #ffffff;
  padding: 20px;
}

.dropdown-menu li {
  list-style: none;
}
