.products-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  font-family: "Inter Tight", sans-serif;
}

.products-details {
  width: 50%;
}

.products-image {
  width: 50%;
}

.products-image img {
  max-width: 100%;
  height: auto;
}

.cart-button {
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 10px;
}

.products-details p {
  white-space: pre-line;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} 

@media screen and (max-width: 638px) {
  .return-home-button {
    display: none;
  }
}
