.product-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }
  
  .product-details {
    width: 50%;
  }
  
  .product-image {
    width: 50%;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  